.table {
  width: 100%;
  border-spacing: 0;

  &--th {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    background: $grey;
    color: $white;
    cursor: pointer;
    transition: color 0.4s;

    &:hover {
      color: $grey-dark;
    }

    &.sort:after{
      content: '➔';
      display: inline-block;
      font-size: 0.8rem;
      margin: 0 0 0 5px;
      line-height: 30px;
      transition: all 0.3s;
    }
    &.decending:after{
      transform: rotate(-90deg);
    }
    &.ascending:after{
      transform: rotate(90deg);
    }
  }

  &--tr {
    margin: 0;
    padding: 0;
  }

  &--td {
    padding: 0 20px;
    border-right: 1px solid $grey;
    height: 25px;
    line-height: 25px;

    &:last-child{
      border: none;
      text-align: center;
    }
  }
}
