nav{
  text-align: center;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
    margin: 0 10px 0 0;
    display: inline-block;
    a{
      line-height: $header-height;
      text-decoration: none;
      color: $white;

      &[aria-current=true]{
        font-weight: bold;
        pointer-events: none;
      }
    }
  }
}
